---
const { name, description, image, link } = Astro.props;
---
<style>
    .card {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.72);
        padding: 30px;
        margin: 20px;
        width: 200px;
        height: 300px;
        background-color: black;
        color: aqua;
    }
</style>

<div class="card">
    <img src={`https://${image}`} style="width: 200px;">
    <h2>{name}</h2>
    <p>{description}</p>
    <p><a href={`https://${link}`}>See part of my work!</a></p>
</div>