---
import Navigation from './Navigation.astro';
---

<header>
    <div>
        <h1>Hey! I'm Lucas :)</h1>
        <img src="https://cloud-lhum0hyax-hack-club-bot.vercel.app/0image.png" style="height: 32px;" alt="Flag Brazil">
        <img src="https://cloud-q3j3sysro-hack-club-bot.vercel.app/0image.png" style="height: 32px;" alt="Flag State of Sao Paulo">
        <img src="https://cloud-pz8yps8mq-hack-club-bot.vercel.app/0image.png" style="height: 32px;" alt="Flag Sao Paulo City">
    </div>
    <img src="https://cloud-l2u2diact-hack-club-bot.vercel.app/0sport_club_corinthians_paulista_crest.svg" style="width: 10%;">
    <Navigation />
</header>
